@import 'https://mchenry.evaluationkit.com/canvas/css';

/*If you change 

/* Replace the gray background with something that matches your colors.  You can use .pngs with alpha transparency. If you don't use an image, you need to remove ours*/
#header { 
  background: url("images/noisygold.png") repeat-x scroll center transparent;
  min-height: 70px;
  /* OR background-image: none; 
  background-color: #EBF5FA;*/
}


/*replace the canvas logo with your logo*/
#header-logo, #header.no-user #header-logo {
  background: url("images/McHenryCountyCollegeLogo.png") no-repeat scroll 0 0 transparent;
  bottom: 0px;
  height: 70px;
  left: 15px;
  width: 205px;
}
#header.no-user #header-logo {
top: 0;
}

/*if you replace the left canvas logo, move a smaller one to the right side of the header--I made the image gray first*/
#header-logo-secondary {
background: url("header_canvas_logo2.png?v1") no-repeat scroll 0 0 transparent;
  bottom: 11px;
  height: 26;
  position: absolute;
  right: 26px;
  width: 135px;
  display: block;
}

/*if your logo is bigger, you can make room like this*/
#menu { margin-left; 250px; }

/*change the identity bar (the area that says "Hilary Scharton Inbox Settings Logout Help)*/
#identity {
    background-color: #4b3190;
	background: url("images/identitynoise.png") repeat 0 0 transparent;

}

/*change the color of the identity text*/
#identity a { color: white; }
/*change the color of the circle around the number of unread inbox messages*/
#identity .inbox a .unread-messages-count { background-color: #fdbb30;color:#4b3190; }
#identity #identity-help-container a { color: white; }

/*change the color of the menu items (courses & groups etc.). If the text looks fuzzy, remove the text shadow.*/
.menu-item .menu-item-title, .menu-item .menu-item-no-drop {
  color: #4b3190;
  text-shadow: none;
}

#section-tabs .section-tab-hidden a {
    color: #4b3190
}
/*login box*/
body.ic-Login-Body#main {
background-color: #4b3190;
}
.ic-Login__content {
background-color: #fdbb30;
border-radius: 15px;
}
#modal-box { background: url("https://www.mchenry.edu/canvas/images/Slide1.jpg") no-repeat !important }

/*this will remove the extra canvas logo*/
body.modal #modal-box.login-box h1 { 
  background: none;
  height: 235px;
}

/*resize the login box to fit my image and change the color of 'stay signed in'*/
body.modal #modal-box.login-box { 
  height: 435px;
  width: 610px;
  color: #333;
}

/*change the color of the login button*/
body.modal #modal-box .button, body.modal #login-box .button {
  background-color: #584391 !important;
  background-image: none;
  border-color: #4b3190;
}

.btn-primary, .button-default {
    background-color: #584391;
    background-image: -moz-linear-gradient(center top , #8054f5, #4B3190);
    background-repeat: repeat-x;
    border-color: #4b3190 #4b3190 #4b3190 #37168F;
}
.btn-primary:hover, .button-default:hover, .btn-primary:active, .button-default:active, .btn-primary.active, .active.button-default, .btn-primary.disabled, .disabled.button-default, .btn-primary[disabled], .button-default[disabled] {
    background-color: #4b3190;
}
/*change the color of 'don't know your password'*/
body.modal #modal-box.login-box a { color: #4b3190 !important; }

.list-view a.active {
    background-color: #d3c4f8;
	  border-top-color: #4B3190;
}
.list-view a.active:hover {
    background-color: #EEDC94;
}
/*used to hide forgot my password*/
#login_forgot_password {
/*display: none;*/	
}
/*hiding gray ribbon Canvas signup*/
.register_banner {
display: none;	
}
/*hide grey canvas on enroll for LEAD*/
body.modal #modal-box h2, body.modal #modal-box .h2 {
background-image: none;
height: 50px;	
margin: 1em 0;
}


body.modal #modal-box h2:after, body.modal #modal-box .h2:after {
border-bottom: 0 solid #FFFFFF;
border-top: 0 solid #DDDDDD;
}

/*Aligns text over image*/
.overlay-content {
  text-align: center;
  position: relative;
}

/.overlay-text {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-90%, -90%);
}
/*Makes image darker*/  
.overlay-darken {
filter: brightness(50%);
  }

/*places text over image*/
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}	